body {
}

#DivHeader {width: 100%; height: 1%; margin:2px; clear: left; float: left} 
#DivMainControls {width: 100%; height: 1%; clear: left; background-color:Silver; float: left} 
#DivMainControlsLeft {width: 70%; height: 1%; margin:1px; float: left} 
#DivMainControlsRight {width: 20%; height: 1%; margin:1px; float:right; text-align: right;} 
#DivBody {width: 100%; clear: left; margin-top:3px} 
#DivTable1 {width: 100%;clear: left; background-color:#f0f0f0} 
#DivHeaderTable1 {width: 100%; margin-top:2px; clear: left;} 
#DivHeader2Table1 {width: 100%; margin-top:3px; margin-bottom:3px; clear:left;} 
#DivBodyTable1 {width: 100%; clear: left;}
#DivFooterTable1 {width: 100%; margin-top:3px; clear: left; background-color:#E5E5E5; text-align: right;}
#DivTable2 {width: 100%; clear: left; margin-top:3px; margin-top:3px; background-color:#f0f0f0} 
#DivHeaderTable2 {width: 100%; margin-top:2px; clear: left;} 
#DivHeader2Table2 {width: 100%; margin-top:3px; margin-bottom:3px; clear: left;} 
#DivBodyTable2 {width: 100%; clear:left;}

#loading {position: absolute; height:50%; width:50%; left:25%; top:25%; margin: auto; display: none; background-color: transparent; z-index: 999; }
#blockBG {position: fixed; top: 0; right: 0; bottom: 0; left: 0; vertical-align: middle; font-size: 0; text-align: center; overflow: auto; white-space: nowrap; display: none; background-color: black; opacity: 0.4; filter:alpha(opacity=40); z-index: 900; }

#PDFView {position:fixed; width:98%; height:97%; Top: 1%; left: 1%; background-color: #525659; z-index: 999; clear: left; } 
#DivPDFLiteralHeader {width: 100%;  top:0; right:0; bottom:0; left:0; clear: left; } 
#DivPDFLiteralBody {width:Calc(100% - 4pt); height:calc(100% - 18pt); clear: left;} 

#POView {position:fixed; width:98%; height:97%; Top: 1%; left: 1%; background-color: #525659; z-index: 999; clear: left; } 
#POViewHeader {width: 100%;  top:0; right:0; bottom:0; left:0; clear: left; } 
#POViewBody {width:Calc(100% - 4pt); height:calc(100% - 18pt); clear: left;} 